<h2>
Alle Posts
</h2>

<ul>
  <% @posts.each do |post| %>
    <li>
      <h3>
        <%= link_to post.title, post_path(post) %>
      </h3>
      <div>
        <%= button_to 'edit', edit_post_path(post), method: :get %>
        <%= button_to 'delete', post_path(post), method: :delete %>
      </div>
    </li>
  <% end %>
</ul>
